.container-lastdays {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather {
    width: 8%;
    background-color: rgb(10, 10, 34);
    color: white;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(87, 87, 87);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by any browser but < IE9 */
}

.weather p {
    text-align: center;
}

.weather img {
    height: 50px;
}

.grados {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 4px;
    margin-right: 4px;
}
