.wind {
    background-color: rgb(10, 10, 34);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 20px;
    border: 1px solid rgb(87, 87, 87);
    border-radius: 5px;
}

.wind-speed {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.wind-speed h1 {
    font-size: 35px;
    margin: 0;
}

.wind-speed p {
    margin: 0;
    font-size: 30px;
    margin-left: 10px;
}
