.next-days-info-card {
    color: #fffc;
    background-color: rgb(10, 10, 34);
    border: 1px solid rgb(87, 87, 87);
    border-radius: 5px;
    text-align: center;
    font-size: 1.3rem;
    padding: 0.5rem;
    width: 9rem;
    box-sizing: border-box;
}

.next-days-info-card p {
    margin: 0.2rem;
}

.next-days-info-card .temp {
    font-size: 1.1rem;
    margin: 0.2rem;
}

.next-days-info-card img {
    width: 70%;
    margin: 10%;
}
