.search img {
    height: 20px;
    cursor: pointer;
}

.container-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(10, 10, 34);
    width: 25%;
    margin-bottom: 50px;
    border-radius: 20px 20px 20px 20px;
}

.search input {
    font-size: 17px;
    padding: 10px;
    background-color: rgb(10, 10, 34);
    color: white;
    outline: none;
    border: none;
    border-radius: 20px 0px 0px 20px;
}
