.container-today-status {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
}

.today-status {
    display: grid;
    grid-template-rows: 2fr 2fr;
    grid-template-columns: 2fr 2fr;
    column-gap: 25px;
    row-gap: 25px;
    height: 100%;
    width: 70%;
}
