.visibility {
    background-color: rgba(10, 10, 34);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid rgb(87, 87, 87);
    border-radius: 5px;
}

.visibility p {
    font-size: 20px;
    text-align: center;
    margin: 0;
}

.visibility h1 {
    text-align: center;
    margin: 0;
    font-size: 28px;
}
